@charset "ISO-8859-1";
*{
    margin: 0; padding:0; box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.site-header {
    width: 100%;
    height: 10vh;
    background: #0f8a9d;
    background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 10% 100%);

}


.sss button:hover{
      background: linear-gradient(57deg, #1E4D92, #00C6A7 );   
}

